body{
    background: url("wp4653171.jpg") no-repeat;
	background-size: cover;
	font-family: arial;
	color: white;
}
ul{
    margin: 0px;
	padding: 0px;
	list-style: none;
	
}
ul li{
	float: center-left;
	float: right;
	width: 266.6px;
	height: 40px;
	background-color: black;
	opacity:.8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	margin-right: 0px
}
ul li a {
	text-decoration: none;
	color: white;
	display: block;
	
}
ul li a:hover {
	background-color:purple;	
}
ul li ul li {
	display: none;	
}
ul li:hover ul li {
	display: block;
}

h{ 
  font-family: cambria;
  color: white;
  font-size: 30px;
  margin-left: 20px;	
}

p{
  font-family: cambria;
  color: white;
  font-size: 20px;
  margin-left: 50px;		
	
}

h1{
  font-family: cambria;
  color: white;
  font-size: 30px;
  margin-left: 20px; 
}

h2, h3, h5{
  font-family: cambria;
  color: white;
  font-size: 30px;
  margin-left: 30px; 
}

h4, h6 {
  font-family: cambria;
  color: white;
  font-size: 20px;
  margin-left: 90px; 